* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1181px;
  margin: 0 auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*UTILITY*/
.u-1 {
  cursor: pointer;
}

img:hover {
  cursor: pointer;
  opacity: 0.6;
}
/* HEADER RE-DESIGN */
#img {
  width: 20%;
  height: 10%;
}

#line1 {
  font-size: 20px;
}
#line2 {
  font-size: 20px;
}
#line3 {
  font-size: 20px;
}
#line4 {
  font-size: 20px;
}
#line5 {
  font-size: 20px;
}
span {
  color: #f0981d;
}
.location {
  color: white;
}
header #donateBtn {
  font-size: 25px;
  background-color: #f0981d;
  border-color: #f0981d;
  color: white;
  width: 150%;
  border-radius: 40px;
}

/* END OF HEADER RE-DESIGN */

/* ------------------------------------------------ */
/* HEADER */
/* ------------------------------------------------ */

header button {
  font-size: 30px;
  background-color: #f0981d;
  border-color: #f0981d;
  width: 150%;
  border-radius: 40px;
}

header span {
  color: #f0981d;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../img/testimonialbg.png);

  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}
.logo {
  height: 62px;
  width: auto;
  float: left;
  margin-top: 50px;
  margin-left: 100px;
}
/* Main navi */
.main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
  margin-right: 100px;
}

.main-nav li {
  display: inline-block;
  margin-left: 40px;
  font-family: Montserrat;
  font-weight: lighter;
  font-size: 30px;
}

.main-nav li a:link,
.main-nav li a:visited {
  padding: 8px 0;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom 0.2s;
  transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid #e67e22;
  color: #e67e22;
}

.header-text-box {
  position: absolute;
  width: 1140px;
  top: 60%;
  left: 75%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: Dosis;
  font-size: 150%;
}

/*END OF UTILITY*/
.container {
  width: 1181px;
  margin: 0 auto;
  width: 100%;
}

#landing-inner ul {
  position: absolute;
  top: 350px;
  left: 704px;
  right: 102px;
}
#landing-inner ul li {
  font-family: Raleway;
  font-style: normal;
  font-weight: 800;
  list-style: none;
}

#landing-inner ul li:nth-child(1) {
  font-size: 80px;
  line-height: 80px;
  color: #fff8f8;
}
#landing-inner ul li:nth-child(2) {
  font-size: 25px;
  line-height: 80px;
  color: #fff8f8;
}

#landing-inner ul li:nth-child(3) {
  font-weight: 800;
  font-size: 150px;
  line-height: 120px;
  color: #ff8121;
}

#wrap {
  width: 1181px;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-self: center;
}
.title {
  width: 178px;
  height: 35px;
  left: 27px;
  top: 716px;
  margin-bottom: 59px;
}
.title h1[lead] {
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 35px;
  color: #ff8121;
  border-bottom: 1px solid #363434;
}

.testimonials-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-bottom: 3rem !important;
}
img {
  display: inline-block;
  height: 50px;
  width: 50px;
  left: 66px;
  top: 810;
  border-radius: 50%;
  transition: all 0.5s ease-out;
}
.name {
  float: right;
  margin-right: 13rem;
  margin-top: 0.5rem;
  clear: both;
}
.img-name {
  margin-bottom: 2rem;
}
.name h1 {
  color: #ff8121;
}
.item {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.test-item1 {
  width: 483px;
  height: 320px;
  left: 66px;
  top: 816px;
}

.test-item2 {
  width: 483px;
  height: 320px;
  left: 608px;
  top: 815px;
}
.test-item3 {
  width: 483px;
  height: 320px;
  left: 66px;
  top: 1213px;
}
.test-item4 {
  width: 483px;
  height: 320px;
  left: 66px;
  top: 1213px;
}

.profile {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  padding-left: 37px;
  padding-right: 55px;
  line-height: 25px;
  color: #000000;
}
.footer {
  background-color: #363434;
  color: white;
  padding: 50px 80px 10px;
}

.footer a:link,
.footer a:visited {
  color: #ffffff;
  text-decoration: none;
}

.footer a:hover,
.footer a:active {
  color: #ff8121;
}

.foot-title {
  font: 300 1.5em "Dosis", sans-serif;
  margin: 0;
  margin-bottom: 7px;
}

.underbar {
  width: 50px;
  border-bottom: 2px solid #ffffff;
}

.foot-content {
  margin-top: 20px;
}

.foot-content,
.design-info {
  font: 400 1em "Open Sans", sans-serif;
}

.foot-about,
.foot-links,
.foot-question {
  float: left;
}

.foot-about {
  width: 40%;
}

.foot-links {
  width: 20%;
}

.foot-question {
  width: 40%;
}

.foot-about .foot-content {
  width: 60%;
}

.clear::after {
  content: "";
  display: table;
  clear: both;
}

.foot-info {
  text-align: center;
  margin-top: 30px;
}

#team-stockholm,
.material-icons {
  color: #ff8121;
}

/*MEDIA QURIES*/
@media screen and (max-width: 767px) {
  .testimonials-grid {
    margin: 0 auto;
    grid-template-areas:
      "row1 " "row2"
      "row3 " "row4";
  }
  .item {
    margin-right: 35rem;
  }
  .test-item1 {
    grid-area: row1;
  }
  .test-item2 {
    grid-area: row2;
  }
  .test-item3 {
    grid-area: row3;
  }
  .test-item4 {
    grid-area: row4;
  }
  #wrap {
    width: 1181px;
    margin-left: 61px;
    margin-left: 61px;
  }
  .title {
    margin-left: 27px;
  }
  #landing {
    height: 500px;
  }
  #landing-inner {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: center;
  }
  #landing-inner ul li:nth-child(1) {
    font-size: 50px;
  }
  #landing-inner ul li:nth-child(3) {
    font-size: 60px;
  }
}
