/* Banner Styles */
.main {
	background-image: url("https://res.cloudinary.com/dprmplqfj/image/upload/v1567631135/VolunteersNG/holding_hands_fk6llh.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	min-height: 50vh;
	padding: 24px;
	display:flex;
	align-items:center;
}

.main__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align:center;
} 

.main__heading {
	font-size: 2.5em;
	color: white;
	margin: 0 0 16px 0;
}

.main__subheading {
	font-size: 1.5em;
	color: white;
	margin: 0 0 16px 0;
}

.main__buttons {
	font-size: 1.2em;
}

/* Help section */
.help {
	padding: 16px;
	margin: 24px 0;
}
.help__heading {
	font-size: 2.5em;
	text-align: center;
}

.help__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
	grid-gap: 24px;
	justify-content: center;
}

.help__card {
	width: 100%;
	background: var(--main);
	text-align: center;
	padding: 16px;
	border-radius: .3em;
}

.help-image {
	width: 100px;
}

/* What we do */
.what {
	background-image: url("https://res.cloudinary.com/judejax/image/upload/v1567639783/african_school_kids.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;
	min-height: 50vh;
	padding: 24px;
	display:flex;
	align-items:center;
	color: white;
}

.what__container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align:center;
} 

.what__heading {
	font-size: 2.5em;
	text-align: center;
}

.what__subheading {
	font-size: 1.5em;
	text-align: center;
}

/* Cause section */
.cause {
	padding: 16px;
	margin: 24px 0;
}
.cause__heading {
	font-size: 2.5em;
	text-align: center;
}

.cause__container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 250px));
	grid-gap: 24px;
	justify-content: center;
}

.cause__card {
	width: 100%;
	border: 1px solid var(--main);
	border-radius:.3em;
	text-align: center;
	padding: 16px;
}

.cause__card__img {
	width: 100%;
	height: 200px;
}

.cause__card__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Sponsors */

/* Help section */
.sponsor {
	padding: 16px;
	margin: 24px 0;
}
.sponsor__heading {
	font-size: 2.5em;
	text-align: center;
}

.sponsor__container {
	display: flex;
	flex-wrap:wrap;
	justify-content: center;
}

.sponsor__img {
	flex-grow:1;
	height: 70px;
	max-width: 100vw;
	text-align: center;
	margin: 16px;
}

.sponsor__img img {
	height: 100%;
}