/* Team Banner */
.team__banner {
	padding: 24px;
}

.team__banner__container {
	display:flex;
	flex-direction:column;
}

.team__banner__heading {
	font-size: 2.5em;
	text-align: center;
}

.team__banner__quote, .team__banner__text {
	text-align:justify;
}

.quote__q {
	font-style:italic;
}

/* Team Members */
.team__members {
	padding: 24px;
}

.team__members__none {
	font-size: 1.5em;
	text-align: center;
}

.team__members__container {
	display: grid;
	grid-gap: 16px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	justify-content:center;
}

.team__members__card {
	width: 100%;
	box-shadow: 0px 0px 20px -5px rgba(0,0,0,0.5);
	text-align: center;
	padding: 24px;
	border-radius: .3em;
	
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
	height: 100%;
	
}

.team__members__card > * {
	width: 100%;
}

.team__card__image {
	width: 100%;
	border-radius:100%;
}

.team__card__name {
	font-size: 1.5em;
}

.team__card__code, .team__card__track, .team__card__contrib {
	margin: 8px 0;
}

.team__card__link {
	align-self: end;
}